<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      PadelBuddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PadelBuddy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="super app logo" src="https://img.freepik.com/free-photo/tennis-paddles-balls-arrangement_23-2149434236.jpg?w=900&t=st=1690783559~exp=1690784159~hmac=6e8e539d0d9dc1d03ab102a304fea8d247b45a7e50b2667b72c739dc1722b095" />
      <ion-card-header>
        <ion-card-title>Aplicación de registro de usuarios</ion-card-title>
        <ion-card-subtitle>Sede: Caballito</ion-card-subtitle>
        <ion-card-subtitle>Horario lunes a domingo de 9hs a 23:30hs</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    <br>
    <ion-button [routerLink]="['/login']" >Continuar</ion-button>
  </div>
</ion-content>
